@use '@/assets/styles/abstracts/' as *;

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    margin-top: 100rem;
    .detail {
        padding: 56rem 36rem;
        height: 630rem;
        width: 630rem;
        border-radius: 32rem;

        &__title {
            @include font(46, 500);
            color: $main-white;
            leading-trim: NONE;
        }

        &__desc {
            margin: 20rem 0;
            @include font(16, 400);
            letter-spacing: 0.3rem;
            color: $main-white;
            width: 437rem;
        }

        &__tags {
            display: flex;
            align-items: center;
            gap: 12rem;
        }

        &__tag {
            color: $main-white;
            @include font(16, 400);
            letter-spacing: 0.3rem;
            display: flex;
            align-items: center;
            gap: 12rem;

            svg {
                width: 4rem;
                height: 4rem;
                color: $main-white;
            }
        }

        &__button {
            width: 140rem;
            height: 36rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20rem;
            padding: 10rem 0;
            background: $brand-color;
            border-radius: 4rem;
            color: $main-white;
            @include font(16, 500);
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        gap: 21rem;
        margin-top: 42rem;

        .detail {
            width: 335rem;
            height: 335rem;
            padding: 30rem 12rem;
            border-radius: 14rem;

            &__title {
                font-size: 20rem;
            }

            &__desc {
                margin: 12rem 0 16rem;
                font-size: 14rem;
                width: 311rem;
            }

            &__tags {
                gap: 6rem;
            }

            &__tag {
                font-size: 14rem;
                gap: 6rem;
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }

            &__button {
                width: 96rem;
                height: 36rem;
                margin-top: 16rem;
                font-size: 14rem;
            }
        }
    }

}