.card{
    width: 413rem;
    height: 460rem;
    position: relative;
    overflow: hidden;
    border-radius: 32rem;
    z-index: 0;
    &__container{
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 413rem;
        height: 366rem;
        overflow: hidden;
        border-radius: 32rem;
    }
    @media screen and (max-width: 700px) {
        width: 335rem;
        height: 373rem;
        border-radius: 28rem;
        &__container{
            width: 335rem;
            height: 297rem;
            border-radius: 28rem;
        }
    }
}