@use '@/assets/styles/abstracts/' as *;

.consultation {
    position: relative;
    width: 100%;
    padding: 38rem 108rem 38rem 38rem;
    background: linear-gradient(90deg, #596974 0%, #595A5A 33.05%, #2D4351 100%);
    box-shadow: inset 0rem 0rem 193.5rem 2rem rgba(250, 249, 246, 0.25);
    border-radius: 16rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 89rem;
    overflow: hidden;

    .vector {
        position: absolute;
        width: 315rem;
        height: 271rem;
        left: 163rem;
        top: calc(50% - 271rem/2 + 61rem);
        background: #716764;
        filter: blur(57.95rem);
        z-index: 1;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24rem;
        width: 414rem;
        z-index: 2;
        position: relative;

        &__title,
        &__subtitle {
            color: $main-white;
        }

        &__title {
            @include font(32, 450);
            
        }

        &__subtitle {
            @include font(16, 400);
        }
    }

    .form {
        width: 414rem;

        &__field {
            margin-bottom: 16rem;
            display: flex;
            flex-direction: column;
            gap: 12rem;
            width: 100%;
        }

        &__label {
            @include font(14, 400);
            color: #FAF9F6;

            sup {
                color: $foundation;
            }
        }

        &__input,
        &__textarea {
            width: 100%;
            font-family: $font-family-text;
            @include font(16, 400);
            border: none;
            border-bottom: 1rem solid #AAAAAA;
            padding: 10rem 0;
            outline: none;
            resize: none;
            background-color: transparent;
            color: #AAAAAA;
            box-shadow: 0 0 0rem 1000rem transparent inset !important;
            -webkit-box-shadow: 0 0 0rem 1000rem transparent inset !important;
            -webkit-text-fill-color: #AAAAAA !important;
            transition: background-color 5000s ease-in-out 0s;

            &::placeholder {
                color: #AAAAAA;
                box-shadow: initial;
                -webkit-box-shadow: initial;
                -webkit-text-fill-color: #AAAAAA;
                transition: initial;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 1000px transparent inset;
                box-shadow: 0 0 0 1000px transparent inset;
                -webkit-text-fill-color: #AAAAAA;
                caret-color: #AAAAAA;
                transition: background-color 9999s ease-out 0s;
            }

            &:-moz-autofill {
                box-shadow: 0 0 0 1000px transparent inset;
                background-color: transparent !important;
                color: #AAAAAA;
                caret-color: #AAAAAA;
            }
        }

        // &__filled {
        //     border-color: $brand-color;
        // }

        &__textarea {
            height: 140rem;
            border: 1rem solid #AAAAAA;
            border-radius: 4rem;
            padding: 10rem;
        }

        &__error {
            @include font(12, 400, 14);
            color: $foundation;
            margin-top: 4rem;
        }

        &__errorline {
            border-color: $foundation !important;
        }

        &__privacy {
            margin: 4rem 0 20rem;
            width: 339rem;

            &__text {
                @include font(12, 400);
                color: #FAF9F6;

                a {
                    text-decoration: underline;
                    color: #FAF9F6;
                    display: inline-block;

                }
            }
        }

        &__submit {
            width: 414rem;
            height: 36rem;
            background: $foundation;
            border-radius: 4rem;
            cursor: pointer;
            color: #FAF9F6;
            display: flex;
            align-items: center;
            justify-content: center;
            @include font(14, 450);
        }
    }

    @media screen and (max-width: 700px) {
        padding: 32rem 12rem;
        border-radius: 14rem;
        gap: 32rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .vector {
            width: 161rem;
            height: 139rem;
            left: 122rem;
            top: calc(50% - 139rem/2 + 61rem);
        }

        .header {
            gap: 16rem;
            width: 100%;

            &__title {
                @include font(20, 400);
                width: 209rem;
            }

            &__subtitle {
                font-size: 14rem;
            }
        }

        .form {
            width: 100%;
            &__privacy {
                margin: 0rem 0 16rem;
                width: 100%;
            }
            &__submit {
                width: 100%;
                height: 44rem;
                border-radius: 8rem;
            }
        }
    }
}