@use '@/assets/styles/abstracts/' as *;

.programs {
    .swiper {
        overflow: initial !important;
        margin-left: 297rem;

        :global(.swiper-slide) {
            &:last-child {
                margin-right: 80rem !important;
            }
        }
        
    }
    .slide {
        width: 413rem !important;
        margin-right: 20rem !important;
        

    }
}