@use '@/assets/styles/abstracts/' as *;

.founder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;

    .small {
        width: 413rem;
        height: 460rem;
        border-radius: 34rem;

    }
    .medium {
        width: 630rem;
        height: 630rem;
        border-radius: 28rem;
    }

    &__image {
        position: relative;
        overflow: hidden;
    }

    &__info {
        position: absolute;
        bottom: 32rem;
        background: $main-white;
        padding: 10rem 20rem;
        @include font(16, 500);
        border-radius: 60rem;

        &__name {
            color: $brand-color;
        }

        &__position {
            color: $secondary-color;
        }
    }
    @media screen and (max-width: 700px) {
        .small {
            width: 335rem;
            height: 372rem;
            border-radius: 28rem;
        }
        &__info {
            bottom: 24rem;
            padding: 8rem 16rem;
            font-size: 14rem;
            border-radius: 60rem;

        }
    }
}