@use '@/assets/styles/abstracts/' as *;

.founder{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    .small{
        width: 413rem;
        height: 460rem;
        border-radius: 34rem;

    }
    &__image{
        position: relative;
        overflow: hidden;
    }
    &__info{
        position: absolute;
        bottom: 32rem;
        background: $white-main;
        padding: 10rem 20rem;
        @include font(16, 500);
        border-radius: 60rem;
        &__name{
            margin-bottom: 4rem;
            color: $brand-color;
        }
        &__position{
            color: $secondary-color;
        }
    }
}