@use "@/assets/styles/abstracts/" as *;

.container {
    position: relative;
    width: 100%;
    overflow: hidden;

    .preview {
        position: fixed;
        left: 340rem;
        width: 391rem;
        height: 220rem;
        overflow: hidden;
        pointer-events: none;
        transform-origin: center;
        transform: scale(0);
        z-index: 999999;
        transition: transform 0.3s ease;
        border-radius: 16rem;

        &__image {
            width: 100%;
            height: 100%;
            pointer-events: none;
            position: relative;
            overflow: hidden;

            &__container {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                transition: transform 0.4s ease;
            }

            &__single {
                width: 100%;
                height: 220rem;
                position: relative;
            }
        }
    }
}


.client,
.location,
.service {
    @include font(18, 400);
}

.client {
    padding-left: 80rem;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    &:last-child {
        border-bottom: 1rem solid $secondary-color;
    }
}

.project {
    width: 100%;
    padding: 13rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $secondary-color;
    border-top: 1rem solid $secondary-color;

    &:hover {
        color: $foundation;
        border-top: 1rem solid $brand-color;
    }

    >div {
        flex: 1;
    }

    div:first-child {
        flex: 2;
    }
}