@use "@/assets/styles/abstracts/" as *;

.container {
    position: relative;
    width: 100%;
    overflow: hidden;

    .preview {
        position: fixed;
        left: 340rem;
        width: 391rem;
        height: 220rem;
        overflow: hidden;
        pointer-events: none;
        transform-origin: center;
        transform: scale(0);
        z-index: 999999;
        transition: transform 0.3s ease;
        border-radius: 16rem;

        &__image {
            width: 100%;
            height: 100%;
            pointer-events: none;
            position: relative;
            overflow: hidden;

            &__container {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                transition: transform 0.4s ease;
            }

            &__single {
                width: 100%;
                height: 220rem;
                position: relative;
            }
        }
    }

    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;

        &:last-child {
            border-bottom: 1rem solid $secondary-color;
        }

        .project {
            width: 100%;

            &__texts {
                width: 100%;
                padding: 13rem 16rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: $secondary-color;
                border-top: 1rem solid $secondary-color;
            }

            &__text {
                position: relative;
                display: inline-block;
                cursor: pointer;
                overflow: hidden;
                @include font(18, 400);

                &:first-child {
                    padding-left: 80rem;
                    flex: 2;
                }

                &:not(:first-child) {
                    flex: 1;
                }

                .animation {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;

                    &__text {
                        display: inline-block;
                        transition: transform 0.3s ease;
                    }

                    &__hover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: inline-block;
                        transform: translateY(100%);
                        transition: transform 0.3s ease;
                    }
                }
            }

            &__image {
                display: none;
            }

            &:hover {
                .project__texts {
                    color: $foundation;
                    border-top: 1rem solid $brand-color;
                }

                .project__text {
                    .animation {
                        &__text {
                            transform: translateY(-100%);
                        }

                        &__hover {
                            transform: translateY(0%);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        .preview {
            display: none;
        }

        .projects {
            .project {
                padding: 16rem 0;
                border-top: 1rem solid $secondary-color;
                display: flex;
                gap: 20rem;

                &__image {
                    display: block;
                    width: 157rem;
                    height: 157rem;
                    border-radius: 12rem;
                    position: relative;
                    overflow: hidden;
                }

                &__texts {
                    width: 158rem;
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 14rem;
                    border-top: none;
                }

                &__text {
                    position: static;
                    display: block;
                    cursor: pointer;
                    overflow: hidden;
                    @include font(18, 400);
                    &:first-child, &:not(:first-child) {
                        padding-left: 0rem;
                        flex: initial;
                    }
                    &:first-child {
                        order: 0;
                        color: $brand-color;
                        @include font(14, 400);
                    }
                    &:nth-child(2) {
                        order: 2;
                        flex: 2;
                        display: flex;
                        align-items: flex-end;
                        color: $brand-color;
                        @include font(14, 400);
                    }
                    &:last-child {
                        order: 1;
                        color: $secondary-color;
                        @include font(14, 400);
                    }

                    .animation {
                        position: relative;
                        display: block;
                        overflow: hidden;

                        &__text {
                            transition: initial;
                        }

                        &__hover {
                            display: none;
                        }
                    }
                }

                &:hover {
                    .project__texts {
                        color: $brand-color;
                        border-top: none;
                    }

                    .project__text {
                        .animation {
                            &__text {
                                transform: initial;
                            }

                            &__hover {
                                transform: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}