.container{
    .title{
        width: 943rem;
    }
    .description{
        width: 703rem;
    }
    @media screen and (max-width: 700px) {
        .title,
        .description {
            width: 335rem;
        }
    }
}