@use '@/assets/styles/abstracts/' as *;

.title{
    @include font(56, 400);
    leading-trim: NONE;
    color: $brand-color;
    line-height: 100%;
    white-space: pre-wrap;
    &__star{
        color: $foundation
    }
}