@use '@/assets/styles/abstracts/' as *;

.features {
    &__title {
        @include font(24, 400);
        color: $brand-color;
        leading-trim: NONE;
        width: 814rem;
    }

    &__description {
        @include font(16, 400);
        color: $secondary-color;
        leading-trim: NONE;
        width: 814rem;
        padding: 24rem 0 70rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 78rem 69.5rem;
    }
    @media screen and (max-width: 700px) {
        &__title {
            font-size: 20rem;
            width: 272rem;
        }
    
        &__description {
            width: 335rem;
            padding: 16rem 0 34rem;
        }
        &__cards {
            grid-template-columns: 1fr;
            gap: 10rem;
        }
    }
}