@use '@/assets/styles/abstracts/' as *;

.card {
    width: 100%;
    height: 460rem;
    position: relative;
    overflow: hidden;
    border-radius: 34rem;
    border: none;
    z-index: 0;

    &__container {
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        height: 366rem;
        overflow: hidden;
        border-radius: 34rem 34rem 0 0;
        background-color: #E7E7E7;

    }

    &__lock {
        background: linear-gradient(90deg, #596974 0%, #595A5A 33.05%, #2D4351 100%);
        box-shadow: inset 0rem 0rem 193.5rem 2rem rgba(250, 249, 246, 0.25);
        overflow: hidden;
    }

    &__detail {
        width: 100%;
        height: 100%;
        padding: 32rem 23rem 32rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .program {
            margin-top: 81rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 12rem;
            border-bottom: 1rem solid $secondary-color;

            &__title {
                color: $brand-color;
                @include font(20, 500);
                leading-trim: NONE;
            }

            &__icon {
                width: 40rem;
                height: 40rem;
                background: #161616;
                border-radius: 5rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    color: $main-white;
                    width: 24rem;
                    height: 24rem;
                }
            }
        }

        .content {
            margin-top: 20rem;

            &__title {
                @include font(24, 450);
                color: $brand-color;
                margin-bottom: 10rem
            }

            &__desc {
                @include font(16, 400);
                color: $secondary-color;
            }
        }
    }

    &__small {
        width: max-content;
        height: max-content;

        img {
            height: 62rem;
        }
    }
}