@use '@/assets/styles/abstracts' as *;

.thumb {
    position: relative;
    cursor: none;

    &__img {
        object-fit: cover;
    }

    &__overlay {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        width: 70rem;
        height: 70rem;
        background: transparent;
        border: 2rem solid $main-white;
        color: $main-white;
        border-radius: 50%;
        @include font(12, 600);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
        z-index: 2222222;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.visible {
            opacity: 1;
        }

        &.hidden {
            opacity: 0;
        }
    }

    @media screen and (max-width: 700px) {
        &__button {
            width: 60rem;
            height: 60rem;
        }

    }
}

.overlay {
    z-index: 10000 !important;
    position: initial !important;
}

.container {
    background: rgba(0, 0, 0, 0.9) !important;
}

.modal {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;

    &__youtube,
    &__reel {
        position: relative;
        overflow: hidden;
    }

    &__youtube {
        width: 80vw;
        aspect-ratio: 16/9;
    }

    &__reel {
        height: 90vh;
        aspect-ratio: 9/16;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 700px) {
        &__youtube {
            width: 90vw;
        }

        &__reel {
            height: 80vh;
        }

    }

}