@use '@/assets/styles/abstracts/' as *;

.explain {
    position: relative;

    .title {
        @include font(32, 400);
        color: $brand-color;
        leading-trim: NONE;
        width: 956rem;
        margin-bottom: 60rem;
    }

    .slider {
        margin: 0 -80rem 100rem;
        position: relative;
    }

    .slide {
        width: 955rem !important;
        height: 537rem !important;
        border-radius: 32rem;
        overflow: hidden;
        position: relative;
        margin-right: 20rem !important;
    }

    .slideReel {
        width: 336rem !important;
        height: 537rem !important;
        border-radius: 32rem;
        overflow: hidden;
        position: relative;
        margin-right: 20rem !important;
    }

    .swiper {
        margin-left: 297rem !important;
        overflow: initial !important;

        :global(.swiper-pagination) {
            display: none !important;
        }

        :global(.swiper-slide) {
            &:last-child {
                margin-right: 80rem !important;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .title {
            width: 335rem;
            font-size: 20rem;
        }

        .youtube {
            margin: 0 -20rem 33rem;

            &__swiper {
                overflow: visible !important;
                margin-left: 20rem !important;

                :global(.swiper-slide) {
                    &:last-child {
                        margin-right: 20rem !important;
                    }
                }

            }

            &__slide {
                aspect-ratio: 16/9;
                width: 335rem !important;
                border-radius: 12rem;
                overflow: hidden;
                margin-right: 8rem !important;
            }
        }

        .reel {
            margin: 0 -20rem 62rem;

            &__swiper {
                padding: 0;
                overflow: visible !important;
                margin-left: 20rem !important;

                :global(.swiper-slide) {
                    &:last-child {
                        margin-right: 20rem !important;
                    }
                }
            }

            &__slide {
                aspect-ratio: 9/16;
                width: 245rem !important;
                height: auto;
                border-radius: 24rem;
                overflow: hidden;
                margin-right: 8rem !important;
            }
        }
    }
}