@use '@/assets/styles/abstracts/' as *;

.contact {
    position: relative;
    width: 1063rem;
    padding: 32rem 28rem 20rem;
    background: linear-gradient(90deg, #596974 0%, #595A5A 33.05%, #2D4351 100%);
    box-shadow: inset 0rem 0rem 193.5rem 2rem rgba(250, 249, 246, 0.25);
    border-radius: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .vector {
        position: absolute;
        width: 315rem;
        height: 271rem;
        left: 163rem;
        top: calc(50% - 271rem/2 + 61rem);
        background: #716764;
        filter: blur(57.95rem);
        z-index: -1;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16rem;
        width: 417rem;
        margin-bottom: 32rem;

        &__title,
        &__subtitle {
            color: $main-white;
            text-align: center;
        }

        &__title {
            @include font(32, 450, 37rem);
        }

        &__subtitle {
            @include font(16, 400, 19rem);
            text-align: center;
        }
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 6rem;


        &__field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10rem;
            width: 220rem;
            height: 76rem;
            position: relative;
        }

        &__label {
            width: 220rem;
            @include font(14, 400);
            color: $main-white;
            align-self: stretch;
        }

        &__phone {
            width: 220rem;
            height: 50rem;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 4rem;
            position: relative;
            padding: 0 10rem;
            gap: 8rem;

            &__input {
                width: 100%;
                height: 50rem;
                gap: 8rem;

                :global(.PhoneInputInput) {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: rgba($main-white, 0.6);
                    @include font(14, 400);
                    height: 100%;
                    width: 100%;
                }

                :global(.PhoneInputCountry) {
                    gap: 8rem;
                }

                :global(.PhoneInputCountrySelect) {
                    background: transparent;
                    border: none;
                    outline: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 8rem;
                }

                :global(.PhoneInputCountrySelectArrow) {
                    color: $main-white;
                    width: 12rem;
                    height: 12rem;
                    font-size: 0;
                    border-style: none;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 12rem;
                        height: 12rem;
                        background-image: url("/icons/arrow down.svg");
                        transform: rotate(-45deg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }

                :global(.PhoneInputCountryIcon) {
                    width: 20rem;
                    height: 15rem;
                    border-radius: 2rem;
                    border: none;
                    border-width: 0;
                    border-color: transparent;
                    background-color: transparent;
                    box-shadow: none;
                    overflow: hidden;
                }

                :global(.PhoneInputCountrySelect) {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: $main-white;
                    @include font(14, 400);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 8rem;
                    cursor: pointer;
                }

                :global(.PhoneInputCountryIcon) {
                    width: 20rem;
                    height: 15rem;
                    border-radius: 2rem;
                    border: none;
                    border-width: 0;
                    border-color: transparent;
                    background-color: transparent;
                    box-shadow: none;
                    overflow: hidden;
                    flex-shrink: 0;
                }
            }

            &:focus {
                border: 1rem solid $main-white;
            }
        }

        &__error {
            color: $foundation;
            @include font(14, 400);
            position: absolute;
            bottom: -20rem;
            left: 0;
            display: block;
            transition: bottom 0.2s ease;

            &Focused {
                bottom: -28rem;
            }
        }

        &__input {
            width: 220rem;
            height: 50rem;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 4rem;
            border: none;
            outline: none;
            padding: 0 10rem;
            font-weight: 400;
            font-size: 14rem;
            line-height: 16rem;
            color: rgba($main-white, 0.6);
            font-family: $font-family-text;
            flex-shrink: 0;

            &::placeholder {
                color: rgba($main-white, 0.6);
            }

            &:focus {
                border: 1rem solid $main-white;
            }
        }

        &__inputError {
            border: 1rem solid $foundation;
        }

        &__submit {
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 17rem 0;
            gap: 10rem;
            width: 103rem;
            height: 50rem;
            background: $foundation;
            border-radius: 4rem;
            cursor: pointer;
            @include font(14, 450);
            color: $main-white;

            &:hover {
                background: $foundation-hover;
            }
        }

        &__privacy {
            margin-top: 20rem;
            padding-top: 24rem;
            border-top: 1rem solid #748088;
            width: 100%;
            @include font(14, 400);
            text-align: center;
            color: #D5D5D5;

            &__link {
                color: #D5D5D5;
                text-decoration: underline;
                display: inline-block;
            }
        }

        &__checkboxes {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10rem;
            gap: 56rem;
            width: 100%;
        }

        &__checkbox {
            display: flex;
            align-items: center;
            gap: 8rem;

            &__input {
                box-sizing: border-box;
                width: 12rem;
                height: 12rem;
                border: 1rem solid $main-white;
                border-radius: 2rem;
                background: transparent;
                cursor: pointer;
                appearance: none;
                position: relative;

                &:checked {
                    &::before {
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        content: '';
                        display: inline-block;
                        width: 10rem;
                        height: 10rem;
                        background-image: url("/icons/check.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        z-index: 1;
                    }
                }
            }

            &__label {
                @include font(14, 400);
                text-align: center;
                color: #D5D5D5;
            }
        }
    }


    @media screen and (max-width: 700px) {
        width: 100%;
        padding: 32rem 12rem;
        border-radius: 16rem;
        gap: 32rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .vector {}

        .header {
            gap: 12rem;
            width: 100%;
            margin-bottom: 0;


            &__title {
                font-size: 20rem;
            }
        }

        .form {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 6rem;
            width: 100%;
            padding-bottom: 0;

            &__field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 6rem;
                width: 100%;
                height: max-content;
                position: relative;
            }

            &__label {
                width: 100%;
            }

            &__phone {
                width: 100%;
                height: 44rem;
                border-radius: 9rem;
                padding: 0 10rem;
                gap: 8rem;

                &__input {
                    width: 100%;
                    height: 44rem;
                    gap: 8rem;

                    :global(.PhoneInputCountry) {
                        gap: 4rem;
                    }

                    :global(.PhoneInputCountrySelect) {
                        gap: 4rem;
                    }


                    :global(.PhoneInputCountryIcon) {
                        width: 24rem;
                        height: 18rem;
                    }
                }
            }

            &__error {
                color: $foundation;
                @include font(14, 400);
                position: absolute;
                bottom: -20rem;
                left: 0;
                display: block;
                transition: bottom 0.2s ease;

                &Focused {
                    bottom: -28rem;
                }
            }

            &__input {
                width: 100%;
                height: 44rem;
                border-radius: 9rem;
                font-size: 14rem;
            }

            &__submit {
                
                align-self: flex-start;
                width: 100%;
                padding: 14rem 0;
                height: 44rem;
                border-radius: 8rem;
                font-size: 14rem;
                color: $main-white;
                margin: 10rem 0;
                order: 6;
                &:hover {
                    background: $foundation-hover;
                }
            }

            &__checkboxes {
                align-items: flex-start;
                flex-direction: column;
                gap: 15rem;
                width: 100%;
                order: 5;
            }

            &__field {
                &:nth-child(1) {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: 3;
                }
                &:nth-child(4) {
                    order: 4;
                }
            }


            &__privacy {
                order: 7;
                margin-top: 0rem;
                padding-top: 0rem;
                border-top: none;
            }

        }
    }
}