@use '@/assets/styles/abstracts/' as *;

.container{
    width: max-content;
    .title{
        color: $brand-color;
        @include font(32, 450);
        white-space: pre-wrap;
    }
    .description{
        margin-top: 32rem;
        color: $secondary-color;
        @include font(16, 400);
        white-space: pre-wrap;
    }
    @media screen and (max-width: 700px) {
        .title{
            font-size: 20rem;
        }
        .description{
            margin-top: 20rem;
            font-size: 16rem;
        }
    }
}