@use '@/assets/styles/abstracts/' as *;



.banner {
    width: 100%;
    background: $foundation;
    overflow: hidden;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20rem;
        width: 100%;
        position: relative;
        height: 42rem;
    }

    .close {
        position: absolute;
        top: 9rem;
        right: 0;
        background: none;
        border: none;
        cursor: pointer;

        svg {
            width: 24rem;
            height: 24rem;
            color: $brand-color;
        }
    }

    .message {
        display: flex;
        align-items: center;
        justify-content: center;

        &__text,
        &__separator {
            @include font(14, 400);
            text-transform: uppercase;
            color: $brand-color;
        }

        &__register {
            @include font(14, 700);
            text-decoration: underline;
            text-transform: uppercase;
            color: $brand-color;
            white-space: nowrap;
        }
    }

    .countdown {
        @include font(18, 500);
        color: $brand-color;
        white-space: nowrap;
    }
    @media screen and (max-width: 700px) {
        height: 44rem;
        .wrapper {
            justify-content: flex-start;
            gap: 38rem;
        }
        .close {
            position: absolute;
            top: 10rem;
            right: 0;
            background: none;
            border: none;
            cursor: pointer;
    
            svg {
                width: 24rem;
                height: 24rem;
                color: $brand-color;
            }
        }
        .message {
            justify-content: center;
    
            &__text,
            &__separator {
                @include font(14, 400);
                text-transform: uppercase;
                color: $brand-color;
            }
    
            &__register {
                @include font(14, 700);
                text-transform: uppercase;
                color: $brand-color;
                white-space: nowrap;
            }
        }
        .message {
    
            &__text {
                display: none;
            }
    
            &__register {
                @include font(12, 600);
            }
        }
        .countdown {
            @include font(12, 600);
        }
    }

}