@use '../abstracts' as *;

html {
    font-size: calc(1 * 100vw/375);

    @media screen and (min-width: 700px) {
        font-size: calc(1 * 100vw/1440);
    }

    // @media screen and (min-width: 1440px) {
    //     font-size: 1px;
    // }
}

body {
    position: relative;
    height: 100%;
    font-family: $font-family-text;
    overflow-x: hidden !important;
    background-color: $main-white;
}

main {
    overflow: hidden;
    padding-bottom: 163rem;
    border-radius: 0rem 0rem 70rem 70rem;
    position: relative;
    background-color: inherit;
    z-index: 1;

    @media screen and (max-width: 700px) {
        padding-bottom: 69rem;
        border-radius: 0rem 0rem 29rem 29rem;
    }
}

img {
    object-fit: cover;
}

.g-container {
    margin: 0 auto;
    max-width: 1440rem;
    padding: 0 80rem;
    overflow: hidden;

    @media only screen and (max-width: 700px) {
        padding: 0 20rem;
    }
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: $font-family-text;
}

.mt {
    margin-top: 100rem;
}

.mb {
    margin-bottom: 100rem;

    @media screen and (max-width: 700px) {
        margin-bottom: 62rem;
    }
}

.ml {
    margin-left: 217rem;

    @media screen and (max-width: 700px) {
        margin-left: 0;
    }
}

.mr {
    margin-right: 217rem;

    @media screen and (max-width: 700px) {
        margin-right: 0;
    }
}

.pl {
    margin-left: 217rem;
}

.rich {
    @include font(18, 400);
    color: $secondary-color;

    h1 {
        @include font(32, 450);
        color: $brand-color;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @include font(22, 400);
        color: $brand-color;
    }

    p,
    ul,
    li {
        @include font(18, 400);
        color: $secondary-color;
    }
    @media screen and (max-width: 700px) {
        font-size: 16rem;
        h1{
            font-size: 24rem;
        }
        h2, h3, h4, h5, h6{
            font-size: 20rem;
        }
        p, ul, li {
            font-size: 16rem;
        }
    }
}