@use '@/assets/styles/abstracts/' as *;

.hero {
    &__detail {
        display: flex;
        justify-content: space-between;
        .founderContainer {
            transform: translateX(-100px);
            opacity: 0;
            will-change: transform, opacity;
        }
        
        .descriptionContainer {
            transform: translateX(100px);
            opacity: 0;
            will-change: transform, opacity;
        }
        
        .title,
        .description {
            width: 522rem;
        }
    }
    @media screen and (max-width: 700px) {
        &__detail {
            flex-direction: column;
            gap: 43rem;
        }
        .title,
        .description {
            width: 335rem;
        }
    }
}