@use '@/assets/styles/abstracts/' as *;

.mouse{
    width: 70rem;
    height: 70rem;
    border-radius: 50%;
    background-color: $foundation;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(12, 600);
    position: fixed;
    z-index: 10000;
    pointer-events: none;
    transition: opacity 0.3s ease;
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}