@use '@/assets/styles/abstracts/' as *;

.hero {
    &__detail {
        display: flex;
        justify-content: space-between;
        .title,
        .description {
            width: 522rem;
        }
    }
}