// Font variables
$font-family-text: "Suisse Intl";

// Color variables
$shadow-black: #000000;
$primary-green-dark: #005A3C;
$primary-green: #00764F;
$primary-green-light: #00D68F;
$white: #FFFFFF;
$off-white: #FAF9F6;
$gray: #4E5B5B;
$gray-light: #AAAAAA;


$pink: #FF3D71;
$error-dark: #6B1A2F;
$error-deep: #8C223E;
$gray-lighter: #D8D8D8;
$teal: #0092AA;
$error-red: #b00020;

$brand-color: #061D21;
$secondary-color: #545455;
$foundation: #FF3C2A;
$foundation-hover: #e83832;
$white-main: #FAF9F6;