@use '@/assets/styles/abstracts/' as *;


.modules {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    &__block {
        position: relative;
        width: 100%;
        background: #FFFFFF;
        border-radius: 12rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16rem 20rem 0;
        position: relative;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem;
        background: #FAF9F6;
        border-radius: 180rem;
        min-width: 73rem;
        height: 30rem;
        @include font(14, 400);
        color: $secondary-color;
    }

    &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 26rem;
        height: 26rem;
        background-color: #FAF9F6;

        svg {
            width: 20rem;
            height: 20rem;
            color: $brand-color;
        }
    }

    &__title {
        @include font(20, 400);
        margin: 16rem 20rem 20rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 20rem;
        gap: 10rem;
        padding: 0 20rem;
        overflow: hidden;
        transition: max-height 0.35s ease;
    }
    &__list {
        &:last-child {
            margin-bottom: 6rem;
        }
    }
    &__item {
        margin-bottom: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10rem 16rem;
        background: #FAF9F6;
        border-radius: 8rem;
        box-sizing: border-box;
    }

    &__text {
        @include font(16, 400);
        color: $secondary-color;
        flex: 1;
    }

    @media screen and (max-width: 700px) {
        gap: 10rem;
    }
}