@use '@/assets/styles/abstracts/' as *;
$bg-secondary: #FAF9F6;
$bg-tertiary: #EFEFEF;
$text-primary: #061D21;
$secondary-color: #545455;
$brand-red: #FF3C2A;
$icon-color: #292D32;

.modules {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    &__block {
        position: relative;
        width: 100%;
        background: #FFFFFF;
        border-radius: 12rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16rem 20rem 0;
        position: relative;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem;
        background: $bg-secondary;
        border-radius: 180rem;
        min-width: 73rem;
        height: 30rem;
        @include font(14, 400);
        color: $secondary-color;
    }

    &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 26rem;
        height: 26rem;
        background-color: #FAF9F6;
        svg{
            width: 20rem;
            height: 20rem;
            color: $brand-color;
        }
    }

&__title {
    @include font(20, 400);
    margin: 16rem 20rem 20rem;
}
}


.modulesContainer {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 0 20rem 20rem;
}

.moduleItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 16rem;
    background: $bg-secondary;
    border-radius: 8rem;
    box-sizing: border-box;
    min-height: 39rem;

    &:nth-child(2) {
        min-height: 44rem;
    }
}

.moduleText {

    @include font(20, 400);
    font-weight: 400;
    font-size: 16rem;
    line-height: 19rem;
    color: $secondary-color;
    flex: 1;
}